.App-header {
  background-color: #cf91e7;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.App-content {
  margin: 30px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  background-color: #8e6194;
}

nav a {
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  margin-right: 20px;
}

button {
  font-size: 0.8em;
  font-weight: 700;
  color: #ffffff;
  border: none;
  margin: 10px;
}

button:hover {
  cursor: pointer;
  background-color: #a3cec3;
}

h4 {
  font-weight: 400;
  color: purple;
}

p {
  font-size: 1.5em;
}
